<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Edit</title>
</head>
<body>
<form action="/edit?_method=PUT" method="POST">
    <input type="hidden" name="id" value="<%= data._id %>">
    <label for="title">
        Title: <input type="text" id="title" name="title" value="<%= data.title %>" />
    </label>
    <br />
    <label for="date">
        Date: <input type="text" id="date" name="date"  value="<%= data.date %>" />
    </label>
    <br />
    <button>수정하기!</button>
</form>
</body>
</html>
